# Data Science Tools and Ecosystem

### In this notebook, datascience Tools and Ecosystem are summerized

#### some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia
5. scala etc

#### Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. NLTK
4. Matplotlib
5. ScikitLearn
6. TensorFlow

| Data Science Tools |
|--------------------|
|jupyter notebook    |
|RStudio             |
|SQL                 |

### Below are a few examples of evaluating arithmetic expressions in Python
1. Using eval()
2. Using numexpr library
3. Using sympy library

### Create a code cell to multiply and add numbers

In [7]:
a = 3
b = 4
c = a*b
result = c + 5
print(result)
# This a simple arithmetic expression to mutiply then add integers

17

In [1]:
### Create a code cell to convert minutes to hours
minutes = 200
hours = minutes/60
print(hours)

# This will convert 200 minutes to hours by diving by 60

3.3333333333333335

### Objectives:

* List popular languages for Data Science
* List some of the commonly used libraries used by Data Scientists include
* We perfom some arithmetic expressions in Python

# Auhtor
    Ridwan